#
# gitignore for alps
#
.*
*.o
*.lo
*.o.*
*.a
*.s
*.tgz
!.gitignore
*.orig
*~
\#*#
core
ChangeLog
Makefile
Makefile.in
# Kernel Module Compile Results
*.mod*
*.ko
*.cmd
.tmp_versions/
modules.order
Module.symvers
# sutotools and stuff
linux-gpib-user/aclocal.m4
linux-gpib-user/autom4te.cache/
linux-gpib-user/compile
linux-gpib-user/config.guess
linux-gpib-user/config.h
linux-gpib-user/config.h.in
linux-gpib-user/config.log
linux-gpib-user/config.status
linux-gpib-user/config.sub
linux-gpib-user/configure
linux-gpib-user/depcomp
linux-gpib-user/doc/doc_html/
linux-gpib-user/doc/gpib_version.txt
linux-gpib-user/doc/linux-gpib.pdf
linux-gpib-user/examples/findlisteners
linux-gpib-user/examples/ibterm
linux-gpib-user/examples/ibtest
linux-gpib-user/examples/master_read_to_file
linux-gpib-user/examples/master_write_from_file
linux-gpib-user/examples/slave_read_to_file
linux-gpib-user/examples/slave_write_from_file
linux-gpib-user/include/gpib/gpib_version.h
linux-gpib-user/install-sh
linux-gpib-user/language/perl/LinuxGpib.bs
linux-gpib-user/language/perl/LinuxGpib.c
linux-gpib-user/language/perl/MYMETA.json
linux-gpib-user/language/perl/MYMETA.yml
linux-gpib-user/language/perl/Makefile.PL
linux-gpib-user/language/perl/Makefile.old
linux-gpib-user/language/perl/blib/
linux-gpib-user/language/perl/pm_to_blib
linux-gpib-user/language/php/gpib_php.la
linux-gpib-user/language/python/build/
linux-gpib-user/language/python/dist/
linux-gpib-user/language/python/gpib.egg-info/
linux-gpib-user/language/tcl/libgpib_tcl.la
linux-gpib-user/lib/TAGS
linux-gpib-user/lib/gpib_config/gpib_config
linux-gpib-user/lib/ibConfLex.c
linux-gpib-user/lib/ibConfLex.h
linux-gpib-user/lib/ibConfYacc.c
linux-gpib-user/lib/ibConfYacc.h
linux-gpib-user/lib/ibVers.h
linux-gpib-user/lib/libgpib.la
linux-gpib-user/lib/libgpib.pc
linux-gpib-user/libtool
linux-gpib-user/ltmain.sh
linux-gpib-user/m4/libtool.m4
linux-gpib-user/m4/ltoptions.m4
linux-gpib-user/m4/ltsugar.m4
linux-gpib-user/m4/ltversion.m4
linux-gpib-user/m4/lt~obsolete.m4
linux-gpib-user/missing
linux-gpib-user/stamp-h1
linux-gpib-user/test/libgpib_test
linux-gpib-user/usb/agilent_82357a/99-agilent_82357a.rules
linux-gpib-user/usb/gpib_udev_fxloader
linux-gpib-user/usb/lpvo_usb_gpib/99-lpvo_usb_gpib.rules
linux-gpib-user/usb/ni_usb_gpib/99-ni_usb_gpib.rules

